<div class="bgimg-1" id="home">
    <div class="center transbox" style="white-space:nowrap;">        
        <div class="custom-row">
            <h1>
                <a class="typewrite" 
                data-period="0" 
                data-to-type='[ "👋, Im Carlos Ayala", "I&apos;m a Software Engineer.","I Love to Develop." ]'>
                    <span class="wrap">
                        👋, Im Carlos Ayala
                    </span>
                </a>
            </h1>
        </div>      
    </div>
</div>

